*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    

}

.oswald{
    font-family: "Oswald", sans-serif;

}
html {
  scroll-behavior: smooth;

}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/* Tło z gradientem i rozmytymi kołami */
.background {
  position: fixed;
  width: 100%;
  height: 100%;


  z-index: -1;
  overflow: hidden;
}



.circle {
  display: flex;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.6;
  z-index: 0;
}

.circle2 {
  width: 500px;
  height: 500px;
  background: rgb(177, 205, 238);
  bottom: 40%;
  right: 10%;
}

.circle3 {
  width: 350px;
  height: 350px;
  background: rgb(177, 205, 238);
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
}


/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

:root{

    --bgccc-color: #707070;
    --bg-color: #1b7dda;
    --text-color:#fff;
    --main-color:#000000;
    --tc-color:rgba(0, 0, 0, 0.377);
    --transperent-color:rgba(255, 255, 255, 0);
    --blur-color:rgb(120, 210, 216);
    --blur2-color:rgb(141, 120, 216);
    --obra-color:rgb(123, 166, 231);

}

a{
    color: rgb(156, 156, 156);
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 10px ;
}
.funkcyjne{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    transition: transform .50s ease;
    color: var(--text-color);
}
.funkcyjne:hover{
    transform: scale(1.4);
    transition: all .50s ease;
}
.navbar-scrolled{
    background-color: var(--main-color);
    transition: all .5s ease;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: var(--transperent-color);
    transition: all .5s ease;
    position:fixed;
    margin: 0;
    z-index: 1000;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.nav a {
    color: var(--text-color);
}
.navL{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 30%;
}
.R{
    width: 50%;
    text-align: right;
    padding: 100px;
}
.L{
    width: 50%;
    padding: 100px;
    text-align: left;
}
.navR{
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 45px;
    align-items: center;
    justify-content: right;
    margin-right: 50px;
    list-style: none;
    
}
.grynlogo{
    position: relative;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    color: var(--text-color);
    font-family: "Oswald", sans-serif;
    
}
.pusty1{
    font-weight: 200;
    font-size: 20px;
    line-height: 4px;
    text-align: center;
    color: var(--text-color);
    font-family: "Oswald", sans-serif;
    
}
.pusty2{
    font-weight: 200;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    /* color: var(--text-color); */
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    
}
.start{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: left;
    background-position: 100% 30% ;
    background-image: url(gryn-strona-kolor.png);
    background-size: cover;
}

.start1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1050px;
    justify-content: center;
    background-position: 50% 50% ;
    background-size: cover;
}
.kontenerStart{
    width: 50%;
    margin: 0;
    padding-left: 80px;
}

.textBoxStart h1{
    color: var(--bg-color);
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.textBoxStart h2{
    color: var(--text-color);
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.textBoxStart, .drogaTextBox2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.contener-btn2{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
}
.btn-path2{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    border: solid 3px;
}
.btn-path3{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    border: solid 3px;
}
.btn-path2 a, .btn-path3 a{
    font-size: 20px;
    line-height: 18px;
    color: var(--main-color);
}
.btn-path{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    transition: all .50s ease;
    border: solid 3px white;
    border-width: 4px;
    height: 5vh;
    width: 25vh;
}
.btn-path a{
    color: var(--text-color);
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
}
.btn-path:hover {
    transform: scale(1.1);
    transition: all .50s ease;
    color: var(--text-color);
}

.drogaTextBox, .drogaTextBox2{
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}
.drogaTextBox h2, .drogaTextBox2 h2{
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 20px;
}
.drogaTextBox h3{
    font-weight: 200;
    font-size: 30px;
}
.luzny{
    margin-top: 30px;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    height: 50px;
}
.luzny a{
    font-size: xx-large;
}

.procesTransform{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.drogaBloki{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 2rem;
    width: 250px;
    height: 40vh;
    margin: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #000;
    text-align: center;
    transition: transform 0.3s ease;
}
.box:hover {
    transform: scale(1.05);
}

.box img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.abc{
    font-size: 30px;
    line-height: 40px;
    color: var(--bg-color);
    font-weight: 600;
    margin-bottom: 20px;
}
.textPodzialu{
    padding: 14px;
}


.textBoxStart h4{
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.divmnie{
    padding-top: 50px;
    background-color: #132133;
    color: white;
}
.oMnie{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.trzymaj-mnie{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
.pustetlo{
    position: absolute;
    width: 60vh;
    height:60vh;
    transform: translate(180px, 30px);
    background: linear-gradient(180deg, #1761c2, #9cb5fa);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.pustetlo2{
    position: absolute;
    width: 70vh;
    height:70vh;
    transform: translate(180px, 30px);
    z-index: -1;
}
.fajnygosc{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    /* background-color: #0056b3; */
    align-items: flex-end;
    justify-content: left;

}
.abc2{
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: var(--bg-color);
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
.obramowanie{
    display: flex;
    flex-direction: column;
    border:  solid 3px rgb(44, 127, 229);
    width: 20vh;
    height: 19vh;
    margin-left: 60px ;
    margin-bottom: 40px;
    border-radius: 30px;
      align-self: center;
        justify-content: center;
        align-items: center ;
      background-color: #00000010;

}
.obramowanie img{
    width: 50px;
    height: 50px;
}
.motywacja{
    height: 100vh;
    width: 100%;
    background-color: #00000054;
    background-image: url(exercisebgc1.png);
    background-size: cover;
}
.motywacja1{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    background-size: cover;
    color: #000;
}
.motyw{
    width: 100%;
    /* text-align: right; */
    margin-top: 100px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
  
}
.testA1{
    margin-bottom: 30px;
    text-align: justify;
    width: 60%;
    font-size: 54px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
}
.testB1{
    text-align: left;
    width: 60%;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 30px;
}
.testC1{
    width: 60%;
    text-align: left;
    font-size: 22px;
    color: var(--text-color);
    line-height: 30px;
}

.lista1{
    margin-top: 20px;
     width: 60%;
    text-align: left;
    font-size: 18px;
    color: var(--text-color);
    line-height: 30px;
}
.testD1{
    width: 60%;
    margin-top: 15px;
    text-align: left;
    font-size: 22px;
    color: var(--text-color);
    line-height: 30px;
}

.szymonTekst{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
.test{
    text-align: left;
    padding-left: 70px;
    font-size: 54px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--text-color-);
}
.test2{
    text-align: left;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 70px;
    padding-right: 50px;
    font-size: 44px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--bg-color);
}
.test3{
    text-align: left;
    padding-left: 70px;
    padding-right: 130px;
    font-size: 22px;
    color: var(--text-color);
    line-height: 30px;
}
.adventure img{
    
    width: 500px;
    height: 500px;
    position:relative;
    left: 0%;
    z-index: 2;
    transform: translate(150px, -0px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.adventure2 img{
    width: 280px;
    height: 280px;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    border: solid 4px var(--obra-color);
    right: 30%;
    transform: translate(30px, -0px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
} 

.cochce{
    height: 100vh;
     background-image: url(icons/szarytlo.jpg);
    background-position: 60% 0% ;
    background-size: cover;
    justify-content: center;
}


.zmiana{
    display: flex;
    
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.zmiana h2{
    font-size: 25px;
}

.kalkulator{
    width: 100%;
    height: 100px;
}
.kontakt{ 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    background-image: url(baton1.jpg);
    background-size: cover;


}

.testA{
    margin-bottom: 30px;
    text-align: left;
    padding-left: 70px;
    width: 60%;
    font-size: 54px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
}

.testB{
    text-align: left;
    width: 55%;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 70px;
    padding-right: 50px;
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 30px;
}
.testC{
    width: 60%;
    text-align: left;
    padding-left: 70px;
    padding-right: 130px;
    font-size: 22px;
    color: var(--text-color);
    line-height: 30px;
}

.lista{
    margin-top: 20px;
     width: 60%;
    text-align: left;
    padding-left: 70px;
    padding-right: 130px;
    font-size: 18px;
    color: var(--text-color);
    line-height: 30px;
}
.testD{
    width: 60%;
    margin-top: 15px;
    text-align: left;
    padding-left: 70px;
    padding-right: 130px;
    font-size: 22px;
    color: var(--text-color);
    line-height: 30px;
}

.kontakt{
    height: 630px;
}

/* SYSTEM DO FORMULARZA KONTAKTOWEGO */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  /* Add a background color and some padding around the form */
  .container {
    width: 55%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  footer{
    width: 100%;
    height: 200px;
    background-color: var(--main-color);
    color: var(--text-color);
  }
.w50{
    width: 50%;
}
.w100{
    width: 100%;
}
.h80{
    height: 80px;
}
.h100{
    height: 100px;
}
.pLR70{
    padding-left: 70px;
    padding-right: 70px;
}
.fs20{
    font-size: 20px;
}
.fs40{
    font-size: 40px;
}
.ft60
.ai-center{
    align-items: center;
}
.ai-end{
    align-items: flex-end;
}
.ta-justify{
    text-align: justify;
}
.ta-center{
    text-align: center;
}
.jc-c{
    justify-content: center;

}
.jc-l{
    justify-content: left;

}
.jc-r{
    justify-content: right;

}
.colorblack{
    color: black;
}
.colorblue{
    color: var(--bg-color);
}
.colorwhite{
    color: var(--text-color);
}
        .calculator {
            width: 50vh;
            height: 50vh;
            background-color: #ffffff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .calculator h1 {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .calculator label {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .calculator input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }

        .calculator button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
        }

        .calculator button:hover {
            background-color: #0056b3;
        }

        .result {
            margin-top: 15px;
            font-size: 1.2rem;
            color: #333;
        }
