*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    /* color: white; */
    
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 0;
    height: auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #011632, #adc8e6);
    background-size: cover;
    font-family: sans-serif;
}
.oswald{
    font-family: "Oswald", sans-serif;

}
.oferty-text{
    margin-bottom: 40px;
    font-size: 60px;
    color: white;
}
.justyfyC{
    justify-content: center;
}
.bgc{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1050px;
    justify-content: center;
    /* background-image: url(exercisebgc1.png); */
    background-position: 100% 100%;
    background-size: cover;
}
.chuj{
    display:flex;
    line-height: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 130px;
    width: 100%;
    background-color: #cce6fd00;

    /* background-color: #707070; */

}

.pricetext{
    font-size: 40px;
    margin-top: 10px;
}
.oferContainer{
    text-align: center;
    /* background-color: #04AA6D; */
    width: 85%;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    font-size: 24px;
    font-weight: 600;
    color: white;

}
.margintop{
    margin-top: 20px;
}
.smalltext{
    height: 20px;
    width: auto;
    padding: 15px;
    font-size:19px;
}
.smalltext2{
    height: 20px;
    width: auto;
    padding: 15px;
    font-size:18px;
}
.smallertext{
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 25px;
    text-align: left;

}
.listadiv{
    display: flex;
    align-items: flex-start;    
    /* background-color: #6d6d6d; */
    height: 70%;
    padding-right: 10px;

}
.przyciskOferty{
    align-self: center;
    margin-bottom: 30px;
    background-color: #4f94bb;
    width: 80%;
    height: 80px;
    border-radius: 20px;
    transition: all .5s ease;
}
.przyciskOferty:hover{
    background-color: #44b23a;
    transition: all .5s ease;

}
.przyciskOferty{
    font-weight: 600;
    text-transform: uppercase;
}

.listakolor li::marker{
    list-style-type: disc;
    color: #00b7ff;
}
.top-box{
    height: 30%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    /* align-items: center; */
    /* background-color: #5e5252; */
}
.oferty{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    /* background-color: #627663; */
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #cce6fd00; /*TUTAJ AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

}

.grid2x3{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 50px;
    
}
.res1{
    height: 100%;
    width: 60%;
    
}

/* .block{
    display: flex;
    height: 500px;
    width: 100%;
    border-radius: 30px;
    text-align: left;
    background-color: #cce6fd00; 
    border-top: solid 5px #00b7ff;
    box-shadow: 0px 10px 10px lightblue;
    transition: transform 0.3s ease; 


} */
.block {
    width: 80%;
    max-width: 600px;
    padding: 2rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    transition: all .5s ease;

  }


.block:hover {
    transition: all .5s ease;

    transform: scale(1.05); /* Powiększenie o 10% */
    z-index: 1;
}

.textDuzy{
    font-size: 40px;
}
.block a{
    color: #000000;
    line-height: 20px;

}
.R{
    width: 50%;
    text-align: right;
    padding: 100px;
}
.L{
    width: 50%;
    padding: 100px;
    text-align: left;
}
.textalignC{
    text-align: center;
}
@media(max-width: 1550px){
  
    .grid2x3{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
        gap: 50px;
        
    }

    .grynlogo{
        position: relative;
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
        color: var(--text-color);
        background-color: #000000;
    }
    .oswald{
        font-family: "Oswald", sans-serif;
        font-size: 1px;

    
    }

  
}
@media(max-width: 1024px){
   
    .grid2x3{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
        gap: 50px;
        
    }
}
@media(max-width: 940px){
    
    .grid2x3{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
        gap: 50px;
        
    }

    .navL a{
        font-size: 20px;
    }

}
  

  









footer{
    width: 100%;
    height: 200px;
    background-color: var(--main-color);
    color: var(--text-color);
    
  }

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.full-300{
    width: 100%;
    height: 300px;
}
.center{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.margin50{
    margin: 50px;
}





:root{

    --bgccc-color: #707070;
    --bg-color: #1b7dda;
    --text-color:#fff;
    --main-color:#000000;
    --tc-color:rgba(0, 0, 0, 0.377);
    --transperent-color:rgba(255, 255, 255, 0);
}

a{
    color: rgb(156, 156, 156);
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 10px ;
}
.funkcyjne{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    transition: transform .50s ease;
    color: var(--text-color);
}
.funkcyjne-scrolled{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    transition: transform .50s ease;
    color: var(--main-color);
}
.funkcyjne:hover{
    transform: scale(1.4);
    transition: all .50s ease;
}
.navbar-scrolled{
    background-color: var(--main-color);
    transition: all .5s ease;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: var(--transperent-color);
    transition: all .5s ease;
    position:fixed;
    margin: 0;
    color: #04AA6D;
    font-family: "Oswald", sans-serif;
    z-index: 10;


}
.nav a {
    color: var(--text-color);

}
.navL{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 30%;
}
.navR{
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 45px;
    align-items: center;
    justify-content: right;
    margin-right: 50px;
    list-style: none;
}

.grynlogo{
    position: relative;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    color: var(--text-color);
    font-family: "Oswald", sans-serif;

}

.pusty1{
    font-weight: 200;
    font-size: 20px;
    line-height: 4px;
    text-align: center;
    color: var(--main-color);
}
.pusty1{
    color: var(--text-color);


}
.start{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1050px;
    justify-content: center;
    background-image: url(tlo2.jpg);
    background-position: 50% 50% ;
    background-size: cover;
}

.kontenerStart{
margin: 0;
}
.pathStart{
    width: 100%;
    height: 800px;
}
.textBoxStart h1{
    color: var(--bg-color);
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.textBoxStart h2{
    color: var(--text-color);
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.textBoxStart h4{
    color: var(--text-color);
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.textBoxStart, .drogaTextBox2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.contener-btn2{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
}
.btn-path2{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #81c2ff;
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    text-align: center;
    border: solid 3px;
}
.btn-path3{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #85b4e0;
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    text-align: center;
    border: solid 3px;
}
.btn-path2 a, .btn-path3 a{
    font-size: 20px;
    line-height: 18px;
    color: var(--main-color);
}
.btn-path{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    width: 180px;
    border-radius: 20px;
    align-items: center;
    transition: all .50s ease;
    border-style: solid;
    border-width: 4px;
    height: 30px;
}
.btn-path a{
    color: var(--main-color);
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
}
.btn-path:hover {
    transform: scale(1.1);
    transition: all .50s ease;
    color: var(--text-color);
}

.drogaTextBox, .drogaTextBox2{
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}
.drogaTextBox h2, .drogaTextBox2 h2{
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 20px;
}
.drogaTextBox h3{
    font-weight: 200;
    font-size: 30px;
}
.drogaBloki{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.luzny{
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    height: 50px;
}
.luzny a{
    font-size: xx-large;
}
.box{
    width: 340px;
    height: 260px;
    background-color: var(--text-color);
    margin: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow:  rgba(0, 0, 0, 0.2) 0px 10px 14px 0px ;
    transition: box-shadow .5s ease;
    background-color: #eeeeee;
}
.box:hover{
    transition: box-shadow .5s ease;
    box-shadow:  rgba(0, 0, 0, 0.8) 0px 10px 14px 0px ;
}
.box img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.ikonaPodzialu{
    color: #04AA6D;
}
.abc{
    font-size: 30px;
    line-height: 60px;
    color: var(--bg-color);
    font-weight: 200;
}
.textPodzialu{
    padding: 14px;
}

.szymonZdjecie{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-bottom: 100px;
}
.trzymaj-szymona{
    width: 1250px;
    height: 400px;
    background-image:url(icons/gryn.jpg) ;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.trzymaj-szymona h2{
    padding-top: 50px;
    width: 500px;
    height: 90px;
    font-size: 90px;
    color: #ffffff;
    text-transform: uppercase;
}
.trzymaj-szymona h3{
    width: 350px;
    height: 20px;
    text-transform: uppercase;
    font-size: 60px;
    color: #ffffff;
}
.trzymaj-szymona h1{
    width: 10px;
    height: 10px;
    text-transform: uppercase;
    font-size: 150px;
    color: #ffffff;
}
.oMnie{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trzymaj-mnie{
    width: 60%;
    height: 450px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mnieL{
    margin-left: 30px;
    width: 60%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolumny */
    gap: 10px; 
}
.mnieL img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
.mnieR{
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mnieR h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}
.mnieText{
    color: #6d6d6d;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    padding-right: 14px;
    padding-left: 14px;
}
.zmiana{
    width: 100%;
    height: 300px;
}
.zmiana h2{
    font-size: 25px;
}
.procesTransform{
    width: 100%;
    height: 700px;
    display: flex;
}
.kalkulator{
    width: 100%;
    height: 100px;
}
.kontakt{ 
    width: 100%;
    height: 100px;
}



.kontakt{
    height: 630px;
}

/* SYSTEM DO FORMULARZA KONTAKTOWEGO */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
